# Environments
.env
env/
ENV/

# config files
dataScience_02/postgres_db/database.ini
dataScience_01/postgres_db/app/database.ini

# Large CSV files
dataScience_02/customer/*.csv
dataScience_02/item/*.csv
dataScience_01/customer/*.csv
dataScience_01/item/*.csv
dataScience_00/customer/*.csv
dataScience_00/item/*.csv
customer/*.csv
item/*.csv
data/*.csv
subject/customer/*.csv
subject/item/*.csv

dataScience_03/data/*.csv
dataScience_03/ex05/*.csv

subject.zip
